
<html>

<head>
	{{template "head.html" .Pause}}
	<link rel="stylesheet" type="text/css" href="stylesheets/help.css" />
</head>

<body>
	{{template "navbar.html"}}

	<div class="container">
		<h1>About</h1>

		<p>The site STG Football uses for drafting.</p>

		<h2>Goals</h2>
		<p>
			This site is not done progressing.
			It will continue to improve as time goes by and as I learn more.
			If anyone has any suggestions or ideas on how to improve the site, let me know and I will do my best to comply.
			We want this to be used for years to come so it should only get better.
			Here are some improvements I have already thought of:
		</p>

		<ul>
			<li>Improve the users and allow for more customizability.</li>
			<li>Include more info on the players (ex. stats) for better draft help.</li>
			<li>Keep a histoy of the drafts.</li>
			<li>Improve the mobile version of the site.</li>
		</ul>

		<br />
	</div>

	{{template "footer.html"}}
<script>
$(function() {
	var $in = $('.footer-chat input').focus();
	$in.keypress(function(e) {
		if (e.which != 13 && e.which != 10) {
			return;
		}
		e.preventDefault();

		// CLOCK STUFF
		var d = new Date();
		var hours = d.getHours()%12;
		if (hours < 10) {
			hours = "0" + hours;
		}
		var minutes = d.getMinutes();
		if (minutes < 10) {
			minutes = "0" + minutes;
		}
		var seconds = d.getSeconds();
		if (seconds < 10) {
			seconds = "0" + seconds;
		}
		var time = hours + ":" + minutes + ":" + seconds + " ";
		var msg = $in.val();
		$in.val('');
		var token = '{{js .Token}}';
		var user = '{{js .User.Username}}';
		$.ajax('/post', {data: {token: token, time: time, msg: msg, user: user}});
	});
});
</script>
</body>

</html>
