<html>

<head>
	{{template "head.html" .Pause}}
	<link rel="stylesheet" type="text/css" href="stylesheets/admin.css" />
</head>

<body>
	{{template "navbar.html"}}

<div class="box" id="admin">
	<form action="/setadmin" method="POST">
	<table border="0" cellpadding="20" align="center">
		<tr>
		
		<td>
			<input type="radio" name="admin" value="start" /><b>Begin Draft</b>
			<p>Starts the draft timer.</p>
		</td>

		<td rowspan="2">
			<input type="radio" name="admin" value="override" /><b>Override Draft Pick</b>
			<p>Change a previously made pick.</p>
			<table>
				<tr>
					<td></td>
					<td>Team</td>
					<td>
						<select name="team">
							<option value="dixie">Dixie</option>
							<option value="b_ez_on">B EZ ON MY SNAX</option>
							<option value="up_n_at">Up N Atoms</option>
							<option value="i_am_ba">I Am Batman</option>
							<option value="rob_do">Rob Dogo</option>
							<option value="bhers">BHers</option>
							<option value="el_gor">El Gordo</option>
							<option value="nativ">Native Americans</option>
							<option value="p_town">P-Town</option>
							<option value="hit_sq">Hit Squad</option>
							<option value="impac">Impact</option>
							<option value="ukrai">Ukraine</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Round</td>
					<td>
						<select name="round">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Player Name</td>
					<td>
					<select name="player">
						<optgroup label="QBs">
							{{range $q := .Rosters.QB }}
							<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
							{{end}}
						</optgroup>
						<optgroup label="RBs">
							{{range $q := .Rosters.RB }}
							<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
							{{end}}
						</optgroup>
						<optgroup label="WRs">
							{{range $q := .Rosters.WR }}
							<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
							{{end}}
						</optgroup>
						<optgroup label="TEs">
							{{range $q := .Rosters.TE }}
							<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
							{{end}}
						</optgroup>
						<optgroup label="Ks">
							{{range $q := .Rosters.K }}
							<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
							{{end}}
						</optgroup>
						<optgroup label="DEFs">
							{{range $q := .Rosters.DEF }}
							<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
							{{end}}
						</optgroup>
					</select>

					</td>
						
				</tr>
			</table>
		</td>
		<td>
			<input type="radio" name="admin" value="sync" /><b>Sync Rosters</b>
			<p>Loads the rosters from the server.</p>
		</td>
		</tr>

		<tr>
		<td>
			<input type="radio" name="admin" value="stop" /><b>Stop Draft</b>
			<p>Stops the draft timer.</p>
		</td>
		<td>
			<input type="radio" name="admin" value="rosters" /><b>Update Rosters</b>
			<p>Downloads the rosters from FantasyFootballNerd. Unless necessary use Sync Rosters instead.</p>
		</td>
		</tr>

		<tr>
		<td>
			<input type="radio" name="admin" value="reset" /><b>Reset Draft</b>
			<p>Clears all draft info.</p>
		</td>
		<td>
			<input type="radio" name="admin" value="save" /><b>Save Draft</b>
			<p>Saves the draft into the history.</p>
		</td>
		<td>
			<input type="radio" name="admin" value="clear" /><b>Clear Rosters</b>
			<p>Delete rosters from the server.</p>
		</td>
		</tr>
		<tr>
		<td>
		</td>
		<td>
			<center><input class="button" type="submit" value="Submit"></center>
		</td>
		<td>
		</td>
		</tr>

		</table>
	</form>
</div>


	{{template "footer.html"}}
<script>
$(function() {
	var $in = $('.footer-chat input').focus();
	$in.keypress(function(e) {
		if (e.which != 13 && e.which != 10) {
			return;
		}
		e.preventDefault();

		// CLOCK STUFF
		var d = new Date();
		var hours = d.getHours()%12;
		if (hours < 10) {
			hours = "0" + hours;
		}
		var minutes = d.getMinutes();
		if (minutes < 10) {
			minutes = "0" + minutes;
		}
		var seconds = d.getSeconds();
		if (seconds < 10) {
			seconds = "0" + seconds;
		}
		var time = hours + ":" + minutes + ":" + seconds + " ";

		var msg = $in.val();
		$in.val('');
		var token = '{{js .Token}}';
		var user = '{{js .User.Username}}';
		$.ajax('/post', {data: {token: token, time: time, msg: msg, user: user}});
	});
});
</script>
</body>

</html>


