
<html>

<head>
	{{template "head.html" .Pause}}
	<link rel="stylesheet" type="text/css" href="stylesheets/help.css" />
</head>

<body>
	{{template "navbar.html"}}

	<div class="container">
		<h1>Contact</h1>

		<p>For now, just call/facebook/tweet Ren</p>

		<br />
	</div>

	{{template "footer.html"}}
<script>
$(function() {
	var $in = $('.footer-chat input').focus();
	$in.keypress(function(e) {
		if (e.which != 13 && e.which != 10) {
			return;
		}
		e.preventDefault();

		// CLOCK STUFF
		var d = new Date();
		var hours = d.getHours()%12;
		if (hours < 10) {
			hours = "0" + hours;
		}
		var minutes = d.getMinutes();
		if (minutes < 10) {
			minutes = "0" + minutes;
		}
		var seconds = d.getSeconds();
		if (seconds < 10) {
			seconds = "0" + seconds;
		}
		var time = hours + ":" + minutes + ":" + seconds + " ";
		var msg = $in.val();
		$in.val('');
		var token = '{{js .Token}}';
		var user = '{{js .User.Username}}';
		$.ajax('/post', {data: {token: token, time: time, msg: msg, user: user}});
	});
});
</script>
</body>

</html>
