<!-- TODO: Connect template to source by correcting variable names -->
<html>

<head>
	{{template "head.html" .Pause}}
</head>

<body>
	{{template "navbar.html"}}

	<table class="draft" table-layout="fixed">
		<tr>
			<td>
				<table>
					<tr><th></th></tr>
					{{ range $round := .Rounds }}
					<tr><td>{{$round}}</td></tr>
					{{ end }}
				</table>
			</td>
			{{ range $team := .League }}
			<td>
				<table>
					<tr><th>{{$team.Name}}</th></tr>
					{{ range $pick := $team.Picks }}
					<tr><td>{{$pick.Position}} {{$pick.Name}} {{$pick.Team}}</td></tr>
					{{ end }}
				</table>
			</td>
			{{ end }}
		</tr>
	</table>

	{{template "footer.html"}}
</body>

</html>
