<html>

<head>
	{{template "head.html"}}
</head>

<body>
	{{template "navbar.html"}}

<div id="admin">
<h2>{{.User.Team |html}}</h2>


	<form action="/keepme" method="POST">
		<select name="num">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
		<b>Keeper(s)</b>
		<br />
		<br />
			<table>
				<tr>
					<td>
					<select name="player1">
						<option value="nil">Keeper 1</option>
						{{range $q := .Rosters.ALL }}
						<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
						{{end}}
					</select>
					</td>
					<td>
						<select name="round1">
							<option value="">Round</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
					<select name="player2">
						<option value="nil">Keeper 2</option>
						{{range $q := .Rosters.ALL}}
						<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
						{{end}}
					</select>
					</td>
					<td>
						<select name="round2">
							<option value="">Round</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
					<select name="player3">
						<option value="nil">Keeper 3</option>
						{{range $q := .Rosters.ALL}}
						<option value="{{$q.PlayerID}}">{{$q.Name}}, {{$q.Team}}</option>
						{{end}}
					</select>
					</td>
					<td>
						<select name="round3">
							<option value="">Round</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
					</td>
				</tr>
			</table>
			<input type="submit" value="Submit">
	</form>
</div>


</body>

</html>

