<html>

<head>
	{{template "head.html" .Pause}}
	<link rel="stylesheet" type="text/css" href="stylesheets/sortable.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/tabs.css" />
</head>

<body>
	{{template "navbar.html"}}

	  <div id="tabs">
	  	<ul>
			<li><a href="#tabs-1">Top 200</a></li>
			<li><a href="#tabs-2">QBs</a></li>
			<li><a href="#tabs-3">RBs</a></li>
			<li><a href="#tabs-4">WRs</a></li>
			<li><a href="#tabs-5">TEs</a></li>
			<li><a href="#tabs-6">Ks</a></li>
			<li><a href="#tabs-7">DEFs</a></li>
		</ul>
		<div id="tabs-1">
			<table class="sortables">
				<tr>
					<td>
						<h2>Top 200</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="top200">
							<li class="player ui-state-default">1 Name Team</li>
							<li class="player ui-state-default">2 Name Team</li>
							<li class="player ui-state-default">3 Name Team</li>
							<li class="player ui-state-default">4 Name Team</li>
							<li class="player ui-state-default">5 Name Team</li>
							{{range $q := .Rosters.QB}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs-2">
			<table class="sortables">
				<tr>
					<td>
						<h2>QBs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="qbs">
							<li class="player ui-state-default">1 Name Team</li>
							<li class="player ui-state-default">2 Name Team</li>
							<li class="player ui-state-default">3 Name Team</li>
							<li class="player ui-state-default">4 Name Team</li>
							<li class="player ui-state-default">5 Name Team</li>
							{{range $q := .Rosters.QB}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs-3">
			<table class="sortables">
				<tr>
					<td>
						<h2>RBs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="rbs">
							{{range $q := .Rosters.RB}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs-4">
			<table class="sortables">
				<tr>
					<td>
						<h2>WRs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="wrs">
							{{range $q := .Rosters.WR}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs-5">
			<table class="sortables">
				<tr>
					<td>
						<h2>TEs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="tes">
							{{range $q := .Rosters.TE}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs-6">
			<table class="sortables">
				<tr>
					<td>
						<h2>Ks</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="ks">
							{{range $q := .Rosters.K}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs-7">
			<table class="sortables">
				<tr>
					<td>
						<h2>DEFS</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="defs">
							{{range $q := .Rosters.DEF}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable">
							{{range $q := .User.Picks}}
							<li class="ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
	  </div>

	<div class="tabs">

		{{range $t := .League}}
		<div class="tab">
<!--$t.Name = .Team`-->
			<input type="radio" id="{{$t.TabID}}" name="tab-group-1" >
			<label for="{{$t.TabID}}">{{$t.Name}}</label>

			<div class="content">
				<table cellspacing="20">
					<tr>
					{{range $p := $t.QB}}
						<td>QB: {{$p.Name}} {{$p.Team}}</td>
					{{end}}
					</tr>
					<tr>
					{{range $p := $t.RB}}
						<td>RB: {{$p.Name}} {{$p.Team}}</td>
					{{end}}
					</tr>
					<tr>
					{{range $p := $t.WR}}
						<td>WR: {{$p.Name}} {{$p.Team}}</td>
					{{end}}
					</tr>
					<tr>
					{{range $p := $t.TE}}
						<td>TE: {{$p.Name}} {{$p.Team}}</td>
					{{end}}
					</tr>
					<tr>
					{{range $p := $t.K}}
						<td>K: {{$p.Name}} {{$p.Team}}</td>
					{{end}}
					</tr>
					<tr>
					{{range $p := $t.DEF}}
						<td>DEF: {{$p.Name}} {{$p.Team}}</td>
					{{end}}
					</tr>
				</table>
			</div>
		</div>
		{{end}}


	</div>

	{{template "footer.html"}}
	<script type="text/javascript" src="javascripts/jquery.ui.core.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.widget.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.mouse.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.sortable.min.js"></script>
	<script type="text/javascript" src="javascripts/sortable.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.tabs.min.js"></script>
	<script type="text/javascript" src="javascripts/tabs.js"></script>
</body>

</html>
