<html>

<head>
	{{template "head.html" .Pause}}
	<link rel="stylesheet" type="text/css" href="stylesheets/sortable.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/tabs.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/lobby.css" />
</head>

<body>
	{{template "navbar.html"}}


	<form action="/picked" method="POST">
		<input id="input-player" type="text" name="player" style="display: none;" />
		<input id="input-position" type="text" name="position" style="display: none;" />
	</form>
	<span class="number" style="display: none;">{{.User.Number}}</span>

	<div class="info">
		<table>
			<tr>
				<td>Current Pick: {{.CurrentPick}}</td>
				<td>Round: {{.CurrentRound}}</td>
				<td>Last Pick: (Under Construction)</td>
			</tr>
		</table>
	</div>

	  <div class="tabs" id="tabs1">
	  	<ul>
			<!--<li><a href="#tabs-1">Top 200</a></li>-->
			<li><a href="#tabs1-2">QBs</a></li>
			<li><a href="#tabs1-3">RBs</a></li>
			<li><a href="#tabs1-4">WRs</a></li>
			<li><a href="#tabs1-5">TEs</a></li>
			<li><a href="#tabs1-6">Ks</a></li>
			<li><a href="#tabs1-7">DEFs</a></li>
		</ul>
		<!--
		<div id="tabs1-1">
			<table class="sortables">
				<tr>
					<td>
						<h2>Top 200</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="top200">
							{{range $q := .Rosters.QB}}
							<li class="player ui-state-default">
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam1">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">{{$q.Name}} {{$q.Team}}</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		-->
		<div id="tabs1-2">
			<table class="sortables">
				<tr>
					<td>
						<h2>QBs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="qbs">
							{{range $q := .Rosters.QB}}
							<li class="player ui-state-default">
								<!--Display this text as a blank anchor tag -->
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam2">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs1-3">
			<table class="sortables">
				<tr>
					<td>
						<h2>RBs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="rbs">
							{{range $q := .Rosters.RB}}
							<li class="player ui-state-default">
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam3">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs1-4">
			<table class="sortables">
				<tr>
					<td>
						<h2>WRs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="wrs">
							{{range $q := .Rosters.WR}}
							<li class="player ui-state-default">
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam4">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs1-5">
			<table class="sortables">
				<tr>
					<td>
						<h2>TEs</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="tes">
							{{range $q := .Rosters.TE}}
							<li class="player ui-state-default">
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam5">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs1-6">
			<table class="sortables">
				<tr>
					<td>
						<h2>Ks</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="ks">
							{{range $q := .Rosters.K}}
							<li class="player ui-state-default">
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam6">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="tabs1-7">
			<table class="sortables">
				<tr>
					<td>
						<h2>DEFS</h2>
					</td>
					<td>
						<h2>{{.User.Team}}</h2>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="sortable" id="defs">
							{{range $q := .Rosters.DEF}}
							<li class="player ui-state-default">
								<span id="pid">{{$q.PlayerID}}</span>
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
					<td>
						<ul class="sortable" id="myteam7">
							{{range $q := .User.Picks}}
							<li class="player ui-state-default">
								<span id="pname">{{$q.Name}}</span>
								<span id="pteam">{{$q.Team}}</span>
							</li>
							{{end}}
						</ul>
					</td>
				</tr>
			</table>
		</div>
	  </div>


	<div class="tabs" id="tabs2">
		<ul>
			{{range $t := .League}}
			<li><a href="#{{$t.TabID}}">{{$t.Name}}</a></li>
			{{end}}
		</ul>
		{{range $t := .League}}
		<div id="{{$t.TabID}}">
						<table>
							<tr>
								<th>
								QBs
								</th>
							</tr>
						{{range $p := $t.QB}}
							<tr>
								<td>{{$p.Name}} {{$p.Team}}
							</tr>
						{{end}}
						</table>
						<table>
							<tr>
								<th>
								RBs
								</th>
							</tr>
						{{range $p := $t.RB}}
							<tr>
								<td>{{$p.Name}} {{$p.Team}}
							</tr>
						{{end}}
						</table>
						<table>
							<tr>
								<th>
								WRs
								</th>
							</tr>
						{{range $p := $t.WR}}
							<tr>
								<td>{{$p.Name}} {{$p.Team}}
							</tr>
						{{end}}
						</table>
						<table>
							<tr>
								<th>
								TEs
								</th>
							</tr>
						{{range $p := $t.TE}}
							<tr>
								<td>{{$p.Name}} {{$p.Team}}
							</tr>
						{{end}}
						</table>
						<table>
							<tr>
								<th>
								Ks
								</th>
							</tr>
						{{range $p := $t.K}}
							<tr>
								<td>{{$p.Name}} {{$p.Team}}
							</tr>
						{{end}}
						</table>
						<table>
							<tr>
								<th>
								DEFs
								</th>
							</tr>
						{{range $p := $t.DEF}}
							<tr>
								<td>{{$p.Name}} {{$p.Team}}
							</tr>
						{{end}}
						</table>
		</div>
		{{end}}
	</div>

	{{template "footer.html"}}
	<script type="text/javascript" src="javascripts/jquery.ui.core.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.widget.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.mouse.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.sortable.min.js"></script>
	<script type="text/javascript" src="javascripts/sortable.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.tabs.min.js"></script>
	<script type="text/javascript" src="javascripts/tabs.js"></script>
</body>

</html>
