<html>

<head>
	{{template "head.html"}}
</head>

<body>
	{{template "navbar.html"}}

	<div class="box" id="makepick">
		<center><span style="color:yellow;font-size:30px;">UNDER CONSTRUCTION</span></center>
	</div>

	{{range $h := .Headlines}}
	<div class="box" id="makepick">
		<a href="http://espn.go.com"><img style="display:inline;float:right;" src="images/espn_gray.png" /></a>
		<a href="{{$h.Links.Web.Href}}" style="text-decoration:none;color:#f5d70c;"><h2>{{$h.Headline}}</h2></a>
		<p>{{$h.Description}}</p>
	</div>
	{{end}}

</body>

</html>

