<html>

<head>
	{{template "head.html"}}
	<link rel="stylesheet" type="text/css" href="stylesheets/dialog.css" />
</head>

<body>
	{{template "navbar.html"}}

	<div class="box" id="makepick">
		<center><span style="color:yellow;font-size:30px;">UNDER CONSTRUCTION</span></center>
	</div>


	{{template "footer.html"}}
	<script type="text/javascript" src="javascripts/jquery.ui.core.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.position.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.widget.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ui.dialog.min.js"></script>
	{{range $h := .Headlines}}
	<div class="box" id="makepick">
		<a href="http://espn.go.com"><img style="display:inline;float:right;" src="images/espn_gray.png" /></a>
		<a href="#" id="opener-{{$h.Id}}" style="text-decoration:none;color:#f5d70c;"><h2>{{$h.Headline}}</h2></a>
		<p>{{$h.Description}}</p>
	</div>
	<div style="display: none;" id="dialog-modal-{{$h.Id}}" title="ESPN">
		<div class="story"><a href="{{$h.Links.Web.Href}}">CLICK HERE FOR STORY</a></div>
		<p>One day I will have the story actually loaded in this little box so you won't have to go to espn.com for it</p>
	</div>
	<script>
		$(function() {
			$( "#dialog-modal-{{$h.Id}}" ).dialog({
				autoOpen: false,
				closeText: "x",
				hide: "explode",
				modal: true,
				show: "blind",
			});

			$( "#opener-{{$h.Id}}" ).mousedown(function() {
				$( "#dialog-modal-{{$h.Id}}" ).dialog( "open" );
				return false;
			});
		});
	</script>
	{{end}}
<script>
$(function() {
	var $in = $('.footer-chat input').focus();
	$in.keypress(function(e) {
		if (e.which != 13 && e.which != 10) {
			return;
		}
		e.preventDefault();

		// CLOCK STUFF
		var d = new Date();
		var hours = d.getHours()%12;
		if (hours < 10) {
			hours = "0" + hours;
		}
		var minutes = d.getMinutes();
		if (minutes < 10) {
			minutes = "0" + minutes;
		}
		var seconds = d.getSeconds();
		if (seconds < 10) {
			seconds = "0" + seconds;
		}
		var time = hours + ":" + minutes + ":" + seconds + " ";

		var msg = $in.val();
		$in.val('');
		var token = '{{js .Token}}';
		var user = '{{js .User.Username}}';
		$.ajax('/post', {data: {token: token, time: time, msg: msg, user: user}});
	});
});
</script>
</body>

</html>

