#in span {
	background: #000;
	color: #fff;
	padding: 10px;
	font-size: 28px;
	border-radius: 45px;
	margin: 5px;
}

#log {
	height: 200px;
	width: 90%;
	background: #fff;
	overflow-y: scroll;
	padding: 0 15px;
	border: 3px ridge #999;
	border-radius: 15px;
}
