.info {
	width: 75%;
	margin: 0px auto 20px;
	background: rgba(255,255,255,0.8);
	border: 1px solid #000;
	border-radius: 10px;
}

.info > table {
	width: 90%;
	margin: 5px auto;
}

.info th {
	padding: 5px;
}
