.info {
	width: 75%;
	margin: 20px auto 40px;
	background: rgba(255,255,255,0.7);
	border: 2px solid #000;
	border-radius: 35px;
}

.info > table {
	width: 90%;
	margin: 5px auto;
}

.info th {
	width: 33%;
	padding: 5px;
	font-size: 17px;
}
