body{
	background: #3f7120;
	background: -webkit-gradient(radial, center center, 0, center center, 200, from(#fff), to(#3f7120));
	background: -webkit-gradient(linear, right bottom, left top, from(#3f7120), to(#f2ebc1));
	font-family: "medium";
	padding-top: 80px;
	overflow-x: hidden;
	width: auto;
	padding: 0;
	margin: 0;
}

#title {
	background: #000;
	margin-top: 15px;
	font-size: 40px;
	text-align: center;
	color:#f5d70c;
}

#body {
	width: 70%;
	margin: 80px auto;
	font-size: 45px;
	padding: 10px;
	text-align: center;
}

.text {
	font-size: 40px;
	width: 100%;
}

.filler {
	margin-top: 220px;
}

.box {
	background: -webkit-gradient(linear, right bottom, right top, from(#000), to(#666));
	color:#fff;
	padding:10px;
	box-shadow: 10px 10px 25px #000000;
	font-family: "bold";
	font-size:15px;
	-webkit-text-stroke: .5px black;
}

#makepick{
	margin: 60px auto 0;
	width: 80%;
}

.button {
	background-color:#999;
	border-radius: 3px;
	padding: 8px 15px 15px;
	font-size: 18px;
	font-family: "medium";
	color:#000;
	line-height: 18px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999), color-stop(25%, #ccc), to(#333));
	border: 1px solid #ccc;
	border-color: #000;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

/*
 *
 * FONTS
 *
 */

@font-face {
	font-family: "bold";
	src: url("../fonts/bold.ttf");
}

@font-face {
	font-family: "light-cond";
	src: url("../fonts/light-cond.ttf");
}

@font-face {
	font-family: "medium-cond";
	src: url("../fonts/medium-cond.ttf");
}

@font-face {
	font-family: "medium";
	src: url("../fonts/medium.ttf");
}

@font-face {
	font-family: "scoreboard";
	src: url("../fonts/scoreboard2.ttf");
}

@font-face {
	font-family: "digital";
	src: url("../fonts/digital.ttf");
}

/*
 *
 * NAVBAR
 *
 */

.navbar {
	height: 100px;
	width: 100%;
	border-bottom:1px solid #000;
	-webkit-box-shadow: 0px 0px 15px 0px #333;
	overflow: visible;
	background-color: #000;
}

#navbar1 {
	position: fixed;
	top: 0px;
}


#navbar2 {
	position: fixed;
	top: 100px;
}

.navbar-inner {
	width: 85%;
	margin: 0px 45px;
}

.brand {
	margin-top: 15px;
	padding: 0px;
	width: 150px;
	height: 63px;
	float: left;
	display: inline;
}

.brand img {
	width: 100%;
	height: 100%;
}

#timer {
	display: inline;
	font-family: "scoreboard";
	font-size:40px;
	color:#f5d70c;
	height: auto;
	float: right;
	line-height: 100px;
}

.nav {
	position: relative;
	padding:0;
	margin: 10px auto 0;
	font-size: 40px;
	font-family: "scoreboard";
	list-style-type:none;
	line-height: 58px;
	background: #000;
	width: 300px;
	-webkit-border-radius: 15px;
	z-index: 1000;
}

.nav a:link,a:visited{
	padding: 10px;
	display: inline;
	width: auto;
	margin: 0px auto;
	color: #f5d70c;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a:hover,a:active{
	text-shadow: 0 0 4px #f5d70c;
}

.dropdown {
	font-size: 35px;
	text-decoration: none;
	margin: 0px auto;
	line-height: 50px;
}

#teams {
	background: #fff;
	padding: 20px;
	margin: 20px;
	border: 1px solid #000;
	box-shadow: 10px 10px 25px #000000;
}

select {
	width: 75%;
	padding: 20px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}

.info th {
	font-size: 30px;
}
