.sortable {
	position: relative;
	list-style-type: none;
	margin: -10px 10px 10px 10px;
	padding: 0;
	width: 90%;
	max-width: 200px;
	height: 350px;
	border: 1px solid #000;
	overflow: auto;
}

.sortable li {
	margin: 0;
	padding: 0 5px 5px;
	color: #fff;
	font-size: 18px;
	height: 35px;
	line-height: 10px;
	position: relative;
}

.player {
	border: 1px solid #000;
	background: rgba(20,20,20,.5);
}

.ui-state-highlight {
	height: 1.5em;
	line-height: 1.2em;
}

ul.sortable > a {
	text-decoration: none;
}

#pid {
	display: none;
}

#pname {
	margin: 1px 0 1px;
	padding: 0 0 1px 0;
	font-size: 18px;
	display: block;
	line-height: 20px;
	max-height: 20px;
	white-space: nowrap;
	overflow: hidden;
}

#pteam {
	font-size: 12px;
	margin-left: 2px;
}
