body{
	background-image:url('images/bg.jpg');
	background-size:100% 100%;
	font-family: "Comic Sans MS";
}

#heading{
	background-color:#eeeeee;
	width:500px;
	margin:20px auto 20px auto;
	padding:10px;
	border-radius: 15px;
}

#menubar{
	width:350px;
	height:auto;
	margin:auto;
}

#menubar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#menubar li{
	float:left;
}

#menubar a:link,a:visited{
	display:block;
	width:auto;
	color:#4f7120;
	background-color:#f5d70c;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}

#menubar a:hover,a:active{
	background-color:#f2e8c1;
}

#makepick{
	background-color:#eeeeee;
	position:relative;
	margin: 10px auto;
	width:300px;
	padding:10px;
	border-radius: 15px;
}

#currentteam{
	width:190px;
	background-color:rgba(230,230,230,0.9);
	position:fixed;
	left:10px;
	top:10px;
	padding:10px;
	border-radius: 15px;
}

#recentpicks{
	width:190px;
	background-color:rgba(230,230,230,0.9);
	position:fixed;
	right:10px;
	top:10px;
	margin:auto;
	padding:10px;
	border-radius: 15px;
}

#admin{
	width:300px;
	background-color:rgba(230,230,230,0.9);
	margin: 10px auto;
	padding:10px;
	border-radius: 15px;
}
